@page "/AddCodeSnippet"
@using CSMS.UseCases.FeatureUseCases.CodeSnippetInterfaces;

@inject NavigationManager NavigationManager
@inject IAddCodeSnippetUseCase AddCodeSnippetUseCase

<h3>AddCodeSnippet</h3>
<br />
<EditForm Model="codeSnippet" OnValidSubmit="SaveCodeSnippetAsync">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <label for="name">Name</label>
        <InputText 
            id="name" 
            @bind-Value="codeSnippet.Name" 
            class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <InputText id="description"
                   @bind-Value="codeSnippet.Description" 
            class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <InputText id="author"
                   @bind-Value="codeSnippet.Author"
                   class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <InputText id="category"
                   @bind-Value="codeSnippet.Category"
                   class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label for="language">Language</label>
        <InputText id="language"
                   @bind-Value="codeSnippet.Language"
                   class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label for="code">Code</label>
        <InputTextArea id="code"
                   @bind-Value="codeSnippet.Code"
                   class="form-control">
        </InputTextArea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    private CodeSnippet codeSnippet = new CodeSnippet();

    private async Task SaveCodeSnippetAsync()
    {
        await AddCodeSnippetUseCase.ExecuteAsync(codeSnippet);
        NavigationManager.NavigateTo("/CodeSnippets");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/CodeSnippets");
    }

}
