@using CSMS.UseCases.UseCases.CodeSnippetInterfaces;
@inject IViewCodeSnippetsByNameUseCase ViewCodeSnippetsByNameUseCase;


<table class="table">
    <thead>
        <tr>
            <th>SnippetName</th>
            <th>SnippetAuthor</th>
            <th>PublicationDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <CodeSnippetItemComponent CodeSnippets="@CodeSnippetList"></CodeSnippetItemComponent>
    </tbody>
</table>

@code {
    private List<CodeSnippet> CodeSnippetList = new List<CodeSnippet>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        CodeSnippetList = (await ViewCodeSnippetsByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
    }
}
