@page "/"
@using CSMS.UseCases.CodeSnippets.CodeSnippetInterfaces;

@inject IViewCodeSnippetsByNameUseCase ViewCodeSnippetsByNameUseCase
@inject IUpdateCodeSnippetUseCase UpdateCodeSnippetUseCase

<PageTitle>Test Page</PageTitle>
<br />
<table class="table">
    <thead>
        <tr>
            <th>SnippetName</th>
            <th>SnippetAuthor</th>
            <th>PublicationDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var codeSnippet in _codeSnippets)
        {
            <tr>
                <td>@codeSnippet.Name</td>
                <td>@codeSnippet.Author</td>
                <td>@codeSnippet.PublicationDate</td>
            </tr>
        }
    </tbody>
</table>


@code{

    private List<CodeSnippet> _codeSnippets = new List<CodeSnippet>();

    protected override async Task OnInitializedAsync()
    {
        //_codeSnippets = (await ViewCodeSnippetsByNameUseCase.ExecuteAsync()).ToList();

        //var codesnippet = new CodeSnippet()
        //    {
        //        Id = 5,
        //        Name = "Fee functions",
        //        Code = "                if (false)\r\n            {\r\n\r\n            }",
        //        Author = "Chuck sdzxNorris",
        //        Description = "Function that kicks ass",
        //        PublicationDate = DateOnly.FromDateTime(new DateTime(1984, 12, 6)),
        //        IsDeprecated = false,
        //    };

        //await UpdateCodeSnippetUseCase.ExecuteAsync(codesnippet);

        _codeSnippets = (await ViewCodeSnippetsByNameUseCase.ExecuteAsync()).ToList();
    }
}
